<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Christmas_Photo_Checker1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Christmas_Photo_Checker1.Properties.Settings>
            <setting name="phoHost" serializeAs="String">
                <value>access802899325.webspace-data.io</value>
            </setting>
            <setting name="phoPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="phoUsername" serializeAs="String">
                <value>u98941559</value>
            </setting>
            <setting name="phoPassword" serializeAs="String">
                <value>Jadzia1984!</value>
            </setting>
            <setting name="phoSaveLocal" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder</value>
            </setting>
            <setting name="phoTimerInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="phoRFChild" serializeAs="String">
                <value>/X22/uzmQIAHBSH6kusMp9tNpbSvEn5IGJKaB5ESX3WUWmPeMVNRnBFxudnt4ubtaAfbJ</value>
            </setting>
            <setting name="phoRFAdult" serializeAs="String">
                <value>/X22/hQDo6TUAuImqWENYQjdjMHhdKeiFYqsvMKhMPNBgM7oXUCNkXB4rtBH7i3tYubYh</value>
            </setting>
            <setting name="phoRFFamily" serializeAs="String">
                <value>/X22/3hbQnlLEQA870bKszQg8dIWQ5cLzZm2wOCJj5zym0eFKZwgBn2T0ZS9i03fit53q</value>
            </setting>
            <setting name="phoRF" serializeAs="String">
                <value>/X22/GatherBooking</value>
            </setting>
            <setting name="phoTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="phoPW" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="phoUsage" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="phoDCPW" serializeAs="String">
                <value>TFI4gOfiMnABxa4UG9BuJAh4fUjayi5ySGHVB0XeT3qrgdFh8gj27ArwUUH8pBFZ</value>
            </setting>
            <setting name="phoReset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phoFrom" serializeAs="String">
                <value>1/11/2021</value>
            </setting>
            <setting name="phoTo" serializeAs="String">
                <value>30/12/2021</value>
            </setting>
        </Christmas_Photo_Checker1.Properties.Settings>
    </userSettings>
</configuration>